body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}
#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    background-color: white;
    border-radius: 50px;
}
#display{
    font-size: 5rem;
    font-family:monospace;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;
    min-width: 125px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startbtn{
    background-color: hsla(120, 100%, 25%, 0.8);
}
#startbtn:hover{
    background-color:green;
}
#stopbtn{
    background-color: hsla(0, 100%, 50%, 0.8);
}
#stopbtn:hover{
    background-color: red;
}
#resetbtn{
    background-color: hsla(240, 100%, 50%, 0.8);
}
#resetbtn:hover{
    background-color: blue;
}